/.idea
/.vscode
*.log
/.env
**/*.pid
runtime/cache
runtime/log
runtime/session
runtime/temp
install.lock
public/uploads
remarks.txt
crmeb/runtime/temp
crmeb/runtime/cache
crmeb/public/statics/download
crmeb/.constant
