<rewrite> 
<rules> 
<rule name="OrgPage" stopProcessing="true"> 
<match url="^(.*)$" /> 
<conditions logicalGrouping="MatchAll"> 
<add input="{HTTP_HOST}" pattern="^(.*)$" /> 
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
</conditions> 
<action type="Rewrite" url="index.php/{R:1}" /> 
</rule> 
</rules> 
</rewrite>