.link-wrapper{text-align: center;margin-top: 22em;}
.failure .text{line-height: 2;color: #666;}
.failure .text .status{font-size: 18px;}
.failure .text .failure-btn{height: 37px; line-height: 37px; font-size: 14px;}
.failure .text .failure-btn a{padding-left: 25px;}
.failure .text .failure-btn .refresh{background:url('../images/refresh-iocn.png') no-repeat left center;}
.failure .text .failure-btn .back{margin-left: 58px; background:url('../images/back-icon.png') no-repeat left center;}
.failure .text .tips{color: #999;}
.link-wrapper .success .text{color: #666; line-height: 2;}
.link-wrapper .success .text .status{font-size: 18px;}
.link-wrapper .success .text .countdown{font-size: 14px;}
.link-wrapper .success .text .countdown a,.link-wrapper .text .countdown span{color: #42c8ff;}
.link-wrapper .success .text .countdown a {text-decoration:underline;}
.link-wrapper .success .text .tips{font-size: 12px; color: #999;}