@import './index.scss';

/* 页面宽度小于800px
------------------------------- */
@media screen and (max-width: 800px) {
  .el-dialog {
    width: 90%;
  }
  .el-dialog.is-fullscreen {
    width: 100% !important;
  }
}
