@import './index.scss';

/* 页面宽度小于576px
------------------------------- */
@media screen and (max-width: $xs) {
  .el-form-item__label {
    width: 100% !important;
    text-align: left !important;
  }
  .el-form-item__content {
    margin-left: 0 !important;
  }
  .el-form-item {
    // display: unset !important;
  }
  .login-form .el-form-item {
    display: block !important;
  }
}
.el-form-item__label {
  color: var(--prev-color-text-regular);
  font-size: 12px !important;
}
.el-radio__label {
  font-size: 12px !important;
}
.el-input__inner {
  font-size: 12px !important;
}
