APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 192.168.0.108DATABASE = www_crmeb32_netUSERNAME = www_crmeb32_netPASSWORD = BEknpBWesrHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn