.cus_server_bg{background-color:#f4f4f4}
.cus_server{background-color:#FFF}
.cus_server ul li{overflow:hidden;border-bottom:1px solid #EEE;padding:.16rem .3rem}
.cus_server ul li:last-child{border:none}
.cus_server ul li img{float:left;width:.7rem;height:.7rem;border-radius:50%}
.cus_server ul li span{float:left;height:.7rem;line-height:.7rem;padding:0 .25rem}
*{padding:0;margin:0}
body{background:#eee;font-size:14px;color:#555;font-family:Arial,"Microsoft YaHei";position:relative;height:100%}
a{text-decoration:none}
em,li,u{list-style:none;font-style:normal}
h1,h2,h3,h4,h5,h6{font-weight:400}
.kj{width:100%;min-height:100%;top:0;left:0;position:relative;height:100%;overflow:auto;-webkit-overflow-scrolling:touch}
.msn{width:100%;border-top:1px #e5e5e5 solid;position:fixed;bottom:0;left:0;right:0}
.msn_k{width:100%;height:50px;background:#f9f9f9;overflow:hidden}
.msn_k i{width:30px;height:30px;margin:10px 0 0 10px;float:left;background-repeat:no-repeat;background-size:30px}
.msn_k i.express_icon{background-image:url(../images/chat_img.png)}
.msn_k i.img_icon{background-image:url(../images/img_icon.png)}
.msn_k b{width:45px;height:35px;margin:7.5px 10px 0 0;float:right;border-radius:5px;background:#59c370;color:#fff;text-align:center;font-weight:400;line-height:35px}
.msn_k span{display:block;padding:0 65px 0 90px;height:35px;margin-top:7.5px}
.msn_k span input{width:100%;height:33px;border:1px #e5e5e5 solid;background:#fff;border-radius:5px;font-size:16px;color:#555;line-height:33px;text-indent:10px;outline:0;-webkit-appearance:none}
.title{height:.7rem;width:100%;position:fixed;left:0;top:0;z-index:100;overflow:hidden;background-color:#fff;border-bottom:1px solid #EEE}
.title .title-back,.title .title-go,.title .title-text{float:left;height:100%;line-height:.7rem}
.title .title-back{width:11%;background-image:url(../images/title-back.png);background-repeat:no-repeat;background-position:center center;background-size:40% auto}
.title .title-text{width:70%;overflow:hidden;font-size:.26rem}
.title .title-go{position:absolute;width:.8rem;height:.42rem;line-height:.42rem;right:.1rem;top:50%;margin-top:-.21rem;border-radius:2rem;color:#fff;text-align:center;background:-webkit-linear-gradient(left,#FF9602 ,#FE6A00);background:-o-linear-gradient(right,#FF9602,#FE6A00);background:-moz-linear-gradient(right,#FF9602,#FE6A00);background:linear-gradient(to right,#FF9602 ,#FE6A00)}
.duihua{width:100%;padding-bottom:60px;-webkit-overflow-scrolling:touch}
.duihua img,.duihua img.express{width:22px;height:22px;vertical-align:bottom;margin:0 2px}
.duihua img.img{width:100%;height:auto;vertical-align:bottom;margin:0 2px}
.time{width:100%;height:22px;margin-top:20px;text-align:center}
.time p{padding:3px 7px;background:#cecece;color:#fff;font-size:12px;display:inline-block;border-radius:4px}
.myhua,.tohua{display:block;overflow:hidden;margin-top:20px;position:relative}
.tohua{padding-left:10px;padding-right:20%}
.myhua{padding-right:10px;padding-left:20%}
.tou{width:40px;height:40px;position:absolute}
.tou img{width:40px;height:40px;border-radius:40px}
.tohua .tou{left:10px}
.myhua .tou{right:10px}
.ci_ico{width:10px;height:9px;position:absolute;top:12.5px}
.ci{display:inline-block;padding:10px 15px;border-radius:6px;line-height:22px;font-size:16px;word-break:break-all;word-wrap:break-word}
.tohua .ci_ico{left:61px;background:url(../images/toci.png) no-repeat;background-size:10px}
.tohua .ci{margin-left:60px;background:#59c370;color:#fff}
.myhua .ci_ico{right:56px;background:url(../images/myci.png) no-repeat;background-size:10px}
.myhua .ci{float:right;margin-right:55px;background:#fff;color:#555}
.prompt{width:100%;height:100%;position:fixed;z-index:2;text-align:center;display:none}
.prompt p{display:inline-block;background:rgba(0,0,0,.8);filter:alpha(opacity=80);-moz-opacity:.8;-khtml-opacity:.8;opacity:.8;color:#fff;line-height:20px;padding:5px 10px;border-radius:5px;font-size:16px}
.prompt p b{color:#71cfff;font-weight:400}
.reward{position:fixed;z-index:1;background-color:#fff;width:3rem;height:3rem;border-radius:.6rem;right:0;top:50%;margin-top:-4.5rem}
.reward img{width:100%;height:100%}
.biaoqing{width:100%;height:120px;overflow:hidden;background:#e1e1e1;display:none;position:relative}
.biaoqing li{float:left;width:100%;height:135px}
.biaoqing span{display:block;padding:10px 10px 0 10px}
.biaoqing span div{float:left;width:14%;padding:5px 0}
.biaoqing span div img{width:24px;height:24px;display:block;margin:0 auto}
.dots{width:100%;position:absolute;bottom:10px;text-align:center}
.dots li{display:inline-block;width:5px;height:5px;border-radius:5px;background:#bbb;margin:0 2px;cursor:pointer;font-size:0;float:none}
.dots li.active{background:#666}
.list{width:100%;overflow:hidden;background:#fff}
.list span{display:block;padding:10px;overflow:hidden;border-bottom:1px #eee solid;position:relative}
.list span img{width:50px;height:50px;border-radius:5px;float:left}
.list span em{padding-left:10px;display:block;overflow:hidden}
.list span em h1{width:70%;height:25px;color:#222;font-size:16px;overflow:hidden;float:left;line-height:25px;font-weight:700}
.list span em h2{width:28%;height:25px;color:#aaa;font-size:12px;line-height:25px;float:right;text-align:right}
.list span em h3{width:100%;height:25px;color:#666;font-size:14px;line-height:25px;float:left}
.list span em h4{position:absolute;font-size:11px;line-height:15px;padding:1px 5px;color:#fff;background:#f84848;border-radius:10px;top:5px;left:50px}
.list span.server img{width:35px;height:35px;float:left}
.list span.server h1{display:block;height:35px;line-height:35px;font-size:18px;margin-left:45px;color:#444;overflow:hidden}
