<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {include file="public/head" /}
    <title>{block name="title"}{/block}</title>
    {include file="public/style" /}
    {block name="head_top"}{/block}
    <script type="text/javascript" src="{__PLUG_PATH}wxApi.js"></script>
    <?php
        $wechat_share_img = app\core\util\SystemConfigService::get('wechat_share_img');
        $wechat_share_img = str_replace('\\','/',$wechat_share_img);
    ?>
    <script>
        $jssdk = function(){return <?=\app\core\util\WechatService::jsSdk()?>;}
        window.wechat_share_title="<?=\app\core\util\SystemConfigService::get('wechat_share_title')?>";
        window.wechat_share_synopsis="<?=\app\core\util\SystemConfigService::get('wechat_share_synopsis')?>";
        window.wechat_share_img="<?=$wechat_share_img?>";
        mapleWx($jssdk(), function () {
            this.onMenuShareAll({
                title: wechat_share_title || $('title').text(),
                desc: wechat_share_synopsis || $('title').text(),
                imgUrl: wechat_share_img.indexOf(location.origin) === -1  ? location.origin + wechat_share_img : wechat_share_img,
                link:location.href,
            });
        });
    </script>
    {include file="public/requirejs" /}
    {block name="head"}{/block}
    <script type="text/javascript" src="{__WAP_PATH}crmeb/js/common.js"></script>
</head>
<body>
{block name="content"}{/block}
{block name="foot"}{/block}
{include file="public/foot" /}
{include file="public/right_nav" /}
</body>
</html>
